<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <input
      [(ngModel)]="model.username"
      type="text"
      class="form-control"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="mb-3">
    <input
      [(ngModel)]="model.password"
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
